#edit {
  .edit-list {
    margin-bottom: 30rpx;
  }
  .fontsizerpx{
    .van-cell{
      padding: 30rpx 40rpx;
    }
    .van-cell__title{
      font-size: 32rpx;
    }
  }

  .clie {
    padding-left: 15px;

    .clie-body {
      padding: 10px 0;
      display: flex;
      box-sizing: border-box;
      color: var(--text-color, #333);
      border-bottom: 1px solid #F6F6F6;

      .label {
        font-size: 32rpx;
        line-height: 28px;
        margin-right: 20rpx;
      }

    }

  }

  .btn-list {
    display: flex;

    .edit-btn {
      margin: 0;
      font-size: 26rpx;
      border: 1px solid #EFEFEF;
      background-color: #fff;
      border-radius: 0;
      padding: 14rpx 36rpx;
      color: #333;
      margin-right: 30rpx;
    }

    .activ {
      background-color: #FFC700 !important;
    }
  }

  .bottom-btn {
    margin: 0 40rpx;
    margin-bottom: 20rpx;
  }
  .btn-color{
    color: #000 !important;
  }
}