page {
  background-color: #f6f6f6;
}

.user-list {
  padding: 10px;

  .user-card {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    background-color: #fff;
    margin-bottom: 10px;

    &:last-child {
      border-bottom: none;
    }

    .info-box {
      flex: 1;
      margin-left: 10px;

      .name {
        font-size: 14px;
        color: #333;
      }

      .time {
        font-size: 11px;
        color: #666;
      }
    }

    .data-box {
      .price {
        font-size: 14px;
        color: #f00;
      }

      .count {
        font-size: 11px;
        color: #666;
      }
    }

  }
}