.order-card {
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 12px;
    // padding: 0 20rpx;

    .order-card-head {
        display: flex;
        padding: 12.5px;
        border-bottom: 1px solid #f1f1f1;

        .order-title {
            font-size: 13.5px;
            flex: 1;
        }

        .order-state {
            color: #f66;
            font-size: 14px;
        }
    }

    .order-card-body {

        .good-card{
            background-color: #ffffff;
        }

        .order-title {
            font-size: 16px;
        }

        .order-price {
            font-size: 20px;
            font-weight: 500;
            color: #ff870d;
        }

        .order-time {
            font-size: 16px;
            font-weight: 500;
            color: #768767;

        }
    }



}