.order-card {
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
    margin-bottom: 20rpx;
    border-radius: 24rpx;
    // padding: 0 20rpx;

    .order-card-head {
        display: flex;
        padding: 25rpx;
        border-bottom: 1px solid #f1f1f1;

        .order-title {
            font-size: 27rpx;
            flex: 1;
        }

        .order-state {
            color: #f66;
            font-size: 28rpx;
        }
    }

    .order-card-body {

        .good-card{
            background-color: #ffffff;
        }

        .order-title {
            font-size: 32rpx;
        }

        .order-price {
            font-size: 40prx;
            font-weight: 500;
            color: #ff870d;
        }

        .order-time {
            font-size: 32rpx;
            font-weight: 500;
            color: #768767;

        }
    }



}