.order-card {
    background-color: #ffffff;
    margin-bottom: 10px;

    .panel-head {
        display: flex;
        padding: 10px 16px;


        .icon {
            display: inline-block;
            margin-right: 10px;
        }

        .title {
            font-size: 16px;
        }
    }

    .goods-list {
        .item {
            background-color: transparent;
            margin-bottom: 10px;
        }
    }
}