page{
    background-color: #f6f6f6;
}
.box{
    background-color: white;
    .top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 26px 0;
        margin: 0 15px;
        border-bottom: 1px solid #dddddd;
        .title{
            font-size: 11px;
            color: #333333;
        }
        .info{
         .fuhao{
            font-size: 14px;
            color: #323233;
         }   
         .money{
            font-size: 30px;
            color: #333333;
         }
        }
    }
    .bottom{
        .cell{
            display: flex;
            flex-direction: row;
            padding-top:12px;
            margin: 0 15px;
            font-size: 14px;
            .left{
                flex: 1;
                color: #666666;
              
            }
            .right{
                color: #333333;
                text-align: right;
            }
        }
        .cell:nth-child(4){
            padding-bottom:10px;
        }
    }
}