page {
    background-color: #f6f6f6;
}

.box {
    padding: 15px;

    .info {
        padding: 20px 17px;
        background-color: white;

        .input {
            position: relative;
            margin-bottom: 41px;

            .position {
                position: absolute;
                color: #333333;
                font-size: 14px;
                left: 0;
                top: 8px;
                z-index: 1000;
            }

            .inp {
                font-size: 30px;
                color: #333333;
            }

            .yue {
                font-size: 11px;
                margin-top: 4px;
                color: #999999;
            }
        }

        .button {}
    }
}