page {
    background-color: #f6f6f6;
}

.box {
    padding: 15px;

    .tixian {
        display: flex;
        flex-direction: row;

        .rad {
            display: inline-block;

            .active {
                background-color: rgba(50, 161, 238, $alpha: 0.3);
                color: #32a1ee;
                border: 1px solid rgba(50, 161, 238, $alpha: 1);
            }
        }

    }

    .info {
        padding: 20px 17px;
        background-color: white;
        margin-top: 15px;

        .input {
            position: relative;
            margin-bottom: 41px;

            .position {
                position: absolute;
                color: #333333;
                font-size: 14px;
                left: 0;
                top: 15px;
                z-index: 1000;
            }

            .inp1 {
                font-size: 14px;

                color: #999999;
                padding: 10px 16px;
                display: block;
                border-bottom: 1px solid #DDDDDD;
            }

            .inp {
                font-size: 30px;
                height: auto;
                line-height: 34px;
                ;
                color: #333333;
                padding: 10px 16px;
                display: block;
                border-bottom: 1px solid #DDDDDD;
            }

            .yue {
                font-size: 11px;
                margin-top: 4px;
                color: #999999;
                margin-bottom: 5px;
            }

            .fee {
                font-size: 10px;
                color: #c7c4c4;
            }


        }

        .button {}
    }
}