$color:#666666;
$padding: 10px 16px;
.box{
    background-color: #f6f6f6;
    height: 100vh;
 
    .stroeInfo{
        .title{
            padding:$padding;
            color: $color;
        }
        .storeTitle{
            display: flex;
            align-items: center;
        }
        .right-value{
            
        }
    }
    .userInfo{
        .title{
            padding:$padding;
            color: $color;
        }
    }
    .f-b{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
}