$color:#666666;
$padding: 10px 16px;
page{
    background-color: #f6f6f6;
}
.box{

    .stroeInfo{
        .title{
            padding:$padding;
            color: $color;
        }
        .storeTitle{
            display: flex;
            align-items: center;
        }
        .right-value{
            
        }
    }
    .userInfo{
        .title{
            padding:$padding;
            color: $color;
        }
    }
 
}