page {
  background-color: #f6f6f6;
  height: 100vh;
}

.box {
  padding: 30px;

  .erweima {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 58px;
    margin-bottom: 158px;

    .ma {
      margin-bottom: 23px;

      .img {
        width: 280px;
        height: 280px;
      }
    }

    .text {
      color: #666666;
      font-size: 14px;
    }

  }
}