/* pages/map/map.wxss */
page {
  background-color: #f6f6f6;
  height: 100vh;
}

.map {
  height: 90vh;
  display: flex;
  flex-direction: column;

  #map {
    flex: 1;
    width: 100%;
    margin-bottom: 20rpx;

    .map-icon {
      position: absolute;
      top: calc(50% - 100rpx);
      left: calc(50% - 50rpx);
      width: 100rpx;
      height: 100rpx;
    }
  }

  .input {
    margin-bottom: 20rpx;
  }
}