page {
  background-color: #f6f6f6;
}

#list {
  .collapse-box {
    .van-collapse-item__content {
      padding: 0;
    }
  }

  .list-panel {
    background-color: #f6f6f6;

    .item {
      padding-left: 20rpx;

      .title {
        color: #000;
        font-size: 30rpx;
        padding: 20rpx 0;
        padding-left: 10rpx;
      }

      .text {
        padding-left: 10rpx;
        padding-bottom: 26rpx;
        border-bottom: 1px solid #ccc;
      }
    }
  }
}