/* pages/my/my.wxss */
page {
    background-color: #f6f6f6;
}

.user-info-card {
    width: 100%;
    background-color: #32A1EE;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 40px;
    flex-direction: column;

    
        
        .user-head {
            width: 80px;
            height: 80px;
            background-color: #dddddd;
            border-radius: 100%;
            overflow: hidden;
            display: block;
            margin-bottom: 10px;
        }
    
  

    .user-name {
        color: white;
        flex: 1;
        text-align: center;
    }
}

.login-btn-box {
    padding: 30px 0;
    width: 60%;
    margin: 0 auto;

}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .button {
        border: none;
        outline: none;
        line-height: 1;
        padding: 30rpx 80rpx;
        text-align: center;
        font-size: 38rpx;
        background-color: #38ac7f;
        color: #fff;
    }
}