page {
    background-color: rgba($color: #32A1EE, $alpha: 0.8);
}

.box {
    padding: 20px;
    background-color: #ffffff;
    margin: 20px;
    border-radius: 5px;


    .erweima {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 58px;

        .ma {
            width: 200px;
            height: 200px;
            background-color: #fff;
            margin-bottom: 23px;
        }

        .text {
            color: #666666;
            font-size: 14px;
            text-align: center;

        }
    }

    .btn {
        width: 85%;
    }

}