.box{
    min-height: 100vh;
    background-color: #f6f6f6;
    .info{
        background-color: white;
        .title{
            display: flex;
            padding: 30px 15px;
            .title-name{
                flex: 1;
                font-size: 20px;
            }
            .title-btn{

            }
        }
        .data{
            border-top: 1px solid #dddddd;
            border-bottom: 1px solid #dddddd;
            display: flex;
            flex-direction: row;
            
            .data-info{
                padding: 10px 0;
                flex: 1;
                display: flex;
                flex-direction: column;
                text-align: center;
                color: #333333;
                font-size: 14px;
                .data-title{
                    
                }
                .data-num{

                }
            }
        }
        .price{
            color: #333333;
            font-size: 14px;
            padding:12px 15px;
        }
        
    }
    .fixed{
        position: fixed;
        bottom: 0;
        left: 0;
    }
}