page {
    background-color: #fff;
}

.h2 {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}


.list {
    .item {
        display: flex;
        align-items: center;

        .goods-card-box {
            flex: 1;
        }

        .good-card {
            background-color: #ffffff;
        }

        .select-tag {
            padding-right: 10px;
            color: #32A1EE;
        }
    }
}