.box {
    height: 100vh;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;

    .list {
        flex: 1;
        overflow: auto;

        .item {
            margin-bottom: 10px;

            .good-card {
                background-color: #ffffff;
            }

            .btn-height {
                height: 100%;
            }
        }

    }
}