.box{
    min-height: 100vh;
    background-color: #f6f6f6;
    .list{
        .item{
            margin-bottom: 10px;
            .good-card{
                background-color: #ffffff;
            }
            .btn-height{
                height: 100%;
            }
        }
      
    }
    .f-b{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
}