/* pages/home/index.wxss */
page {
  padding: 10px;
  background-color: #f6f6f6;
}

.h2 {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  padding: 10px;
}

.tool-box {
  background-color: #ffffff;
  border-radius: 5px;
}


.data-panel {
  background: linear-gradient(180deg, rgba(97, 207, 248, 1) 0%, rgba(50, 161, 238, 1) 100%);
  color: white;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 15px;

  .panel-title {
    margin-bottom: 10px;
  }

  .value-cell-group {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    &:nth-child(2) {
      border-bottom: 1px solid rgba($color: #fff, $alpha: 0.4);
    }

    .value-cell {
      text-align: left;
      flex: 1;
      padding: 10px 0;

      &:nth-child(2) {
        // border-left: 1px solid rgba($color: #fff, $alpha: 0.5);
      }

      .title {
        font-size: 14px;
        margin-bottom: 10px;
      }

      .value {
        font-size: 20px;
      }
    }
  }
}