page {
    background-color: #ffffff;
}

.page {
    padding: 20px;

    textarea {
        background-color: #f6f6f6;
        border-radius: 5px;
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
    }

    .info {
        text-align: center;
        color: #777;
        font-size: 14px;
        padding: 20px;
        line-height: 1.5;
    }
}