page{
    background-color: #eee;
}
.panel{
    background: white;
    margin: 20rpx;
    .title{
        font-size: 36rpx;
        padding: 20rpx;
        border-bottom: 1px solid #eee;
    }
    .footer{
        display: flex;
        .left{
            flex: 1;
            
            margin: 20rpx;
            border:1px solid #eee;
            display: flex;
            align-items: center;
            justify-content: center;
            .img{
                width: 200rpx;
                height: 200rpx;
            }
        }
      
    }
}